{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="section-custom-two-column-info color-{{ section.settings.color_scheme }}">
  <div class="page-width section-{{ section.id }}-padding" style="outline: 1px solid blue;">
    <div class="grid grid--1-col-tablet-down grid--2-col-desktop">
      {%- for block in section.blocks -%}
        <div class="multicolumn-list__item grid__item" {{ block.shopify_attributes }}>
          {%- if block.settings.heading != blank -%}
            <h2 class="h2">{{ block.settings.heading }}</h2>
          {%- endif -%}

          {%- if block.settings.description != blank -%}
            <div class="rte">{{ block.settings.description }}</div>
          {%- endif -%}

          {%- if block.settings.image != blank -%}
            <div class="mt-4" style="width: {{ block.settings.image_width_percent }}%;">
              <img
                src="{{ block.settings.image | image_url: width: 1000 }}"
                loading="lazy"
                alt="{{ block.settings.image.alt | escape }}"
                class="w-full h-auto object-contain"
              >
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two Column Info",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Powerful Individually, Unstoppable As One"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>We bring together everything that you’ll need tackle hair loss, <strong>improve, grow and thicken</strong> your hair. Regrowz’s products have helped the hair of more than <strong>20,000 customers</strong> all over the world.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width_percent",
          "label": "Image Width (%)",
          "default": 60,
          "min": 10,
          "max": 100,
          "step": 5
        }
      ]
    }
  ],
  "max_blocks": 2,
  "presets": [
    {
      "name": "Two Column Info",
      "blocks": [
        { "type": "column" },
        { "type": "column" }
      ]
    }
  ]
}
{% endschema %}
